<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  {{#if restaurantData}}
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">
        {{#each restaurantData}}
        <div>
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <span class="badge bg-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>
            </div>
          </a>
          <span class="mb-3">
            <!-- edit link-->
            <a href="./restaurants/{{ this._id }}/edit">Edit</a>
            <!-- detail link-->
            <a href="./restaurants/{{ this._id }}">Detail</a>
            <!-- delete button-->
            <form action="" method="post" style="display: inline;">
              <button type="submit">delete</button>
            </form>
          </span>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="no-result">
  <div class="error-message col-12 text-center align-items-center">
    抱歉，我們無法辨識您所輸入的餐廳
    <div class='place-recommendation py-1'>
      改搜其他餐廳：
      <ul class="recommend-list pt-1">
        {{#each restaurantRow}}
        <a href="/restaurants/{{this.id}}" class="text-secondary px-1">{{this.name}}</a>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{/if}}